
*.xml
*.properties
*.mf
*.class
Calculadora-básica-I/Calc_I/build/classes/.netbeans_update_resources
Calculadora-básica-I/Calc_I/build/classes/.netbeans_automatic_build
/Calculadora-básica-I/Calc_I/dist/
/Calculadora-básica-II/CalcII/nbproject/private/